<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1>API Anime MongoDB</h1>
      <nav>
        <a href="/">Accueil</a>
        <a href="/animes">Liste des Animes</a>
        <a href="/animes/new">Créer</a>
        <a href="/animes/search">Recherche</a>
      </nav>
    </header>
    <main><%- body %></main>
    <footer>
      <p>&copy; 2025 - API Anime</p>
    </footer>
  </body>
</html>
