body {
    margin: auto;
}

#play_body {
    margin: auto;
    background-color: lightblue;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    background-color: lightskyblue;
    width: 100%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#play_button {
    background-color: purple;
    border: 0px;
    border-radius: 45px;
    width: 175px;
    height: 75px;
    margin-bottom: 20px;
    margin-right: 40px;
}

footer {
    height: 200px;
}

#launch_button {
    background-color: purple;
    border: 0px;
    border-radius: 45px;
    width: 10%;
}

